<h2>Flash Card Decks</h2>
<div id="fix_height"></div>
<ul class='ul_decks'>
  <% @decks.each do |deck| %>
    <li><%= deck.name %> </li>
  <% end %>
</ul>
<form action="/login" method="post">
  <div class="container">
    <label><b>Username</b></label>
    <% if @errors %>
      <% @errors.each do |error| %>
        <li class="error"><%= error %> </li>
      <% end %>
    <% end %>
    <input type="text" placeholder="email" name="email" required>

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <button type="submit">Login</button>
  </div>
</form>
